@import '../../styles/variables.scss';

.wrapperPersonal{
    h2{
        color: $color1;
    }
    p{
        text-align: justify;
        color: $color2;
    }
    .cardPersonal{
        p{
            strong{
                color: $color2 !important;
            }
        }
    }
}