@import '../../styles/_variables.scss';

.wrapperBannerEnf{
    padding: 2rem 0;
    background-color: $color2;
    color: $color3;
}
.wrapperEnfermeria{
    h2, h5{
        color: $color1;
    }
    p{
        text-align: justify;
        color: $color2;
    }
}
.wrapperPlanaDocente{
    h5{
        color: $color1;
    }
}
// .lineaSeparador{
//     height: 3px;
//     width: 100%;
//     background-color: $color1;
// }