@import '../styles/variables.scss';

.wrapperBannerLibro{
    padding: 2rem 0;
    background-color: $color2;
    color: $color3;
}
.wrapperLibroReclamaciones{
    p{
        color: $color2;
        text-align: justify;
    }
}