@import '/styles/_variables.scss';

.wrapperBannerContacto{
    padding: 2rem 0;
    background-color: $color2;
    color: $color3;
}

.wrapperContacto{    
    h2, h4{
        color: $color1;
    }
    p{
        color: $color2;
    }
}
.wrapperBannerVisitanos {
    background-color: $color1;
    color: $color3;
    padding: 1rem 2rem;
    border-radius: 15px;
    p{
        color: $color3;
    }
}