// $color1: #37C5F2;
// $color2: #3D3D3D;
// $color3: #EBEBEB;
// $color4: #ffee00;
// $color5: #f64c61;


$backgroundColor: #9ea09f;
$color: #131313;

$color0: #1E92F4;
$color1: #00BBF0;
$color2: #005792;
$color3: #EFFBFF;
$color4: #E33E5A;
$color5: #162447;